In [28]:
import pandas as pd
import numpy as np

In [80]:
df = pd.read_csv('final.csv')

#remove 3 zeros and convert to DateTimeIndex to do more - possibly

In [81]:
df['Time'][0] - df['Time'][1]

-3600000

In [82]:
sum(df['Time'] - df.shift(1)['Time'] != 3600000.0) #for these fill with past value. possible because there are some value not avilable straight

101

In [83]:
dates = pd.DataFrame([x for x in range(df['Time'][0], int(df.iloc[-1]['Time']), 3600000)])

In [84]:
dates.columns = ['Time']

In [86]:
pd.concat([df, dates]).sort_values('Time').drop_duplicates('Time').shape

(43251, 6)

In [85]:
dates.shape[0] - df.shape[0]

316

In [87]:
df['Time']

0        1364774400000
1        1364778000000
2        1364781600000
3        1364785200000
4        1364788800000
5        1364792400000
6        1364796000000
7        1364803200000
8        1364806800000
9        1364810400000
10       1364814000000
11       1364817600000
12       1364821200000
13       1364824800000
14       1364828400000
15       1364832000000
16       1364835600000
17       1364839200000
18       1364842800000
19       1364850000000
20       1364853600000
21       1364857200000
22       1364860800000
23       1364864400000
24       1364868000000
25       1364871600000
26       1364875200000
27       1364878800000
28       1364882400000
29       1364886000000
             ...
42904    1520370000000
42905    1520373600000
42906    1520377200000
42907    1520380800000
42908    1520384400000
42909    1520388000000
42910    1520391600000
42911    1520395200000
42912    1520398800000
42913    1520402400000
42914    1520406000000
42915    1520409600000
42916    1520413200000
42917    1520416800000
42918    1520420400000
42919    1520424000000
42920    1520427600000
42921    1520431200000
42922    1520434800000
42923    1520438400000
42924    1520442000000
42925    1520445600000
42926    1520449200000
42927    1520452800000
42928    1520456400000
42929    1520460000000
42930    1520463600000
42931    1520467200000
42932    1520470800000
42933    1520474400000
Name: Time, Length: 42934, dtype: int64